body {
    font-size: 14px;
    margin: 0;
    color: #19486A;
    font-family: 'Montserrat', sans-serif;
    padding: 0; overflow-x:hidden;
}

a {
    color: #19486A;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0;
    font-weight: 500;
}

h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

h3 {
    font-size: 1.1em;
    margin: 0;
    font-weight: 500;
    line-height: 1.1;
}

h5 {
    font-size: 1.1em;
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/silhouette.jpg");
    background-position: right;
}

.text-section {
    height: calc(100vh - 122px);
    width: 80vw;
    padding-left: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 122px;
}


#home-text {
    height: calc(100vh - 60px);
    padding-bottom: 60px;
}


@media (min-height:650px) {
    body {
        font-size: 16px;
    }
}

.moloco-animation img {
    position: absolute;
    top: 7000px;
}

img.ball {
    height: 72px;
    margin-bottom: -1px;
}

img.half {
    height: 102px;
    margin-bottom: -1px;
}


input[type='text'], [type='email'], select, textarea {
    border: none;
	border-bottom: none;
	color:  #19486A;
	font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
	margin: 0 0 0.5em 0;
	padding: 0.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.moloco-input, form h3 {
    width: 100%;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
}

textarea {
	height: 100px;
	resize: none;
}

button, input, select, textarea {
  color:  #19486A;
  font: inherit;
  margin: 0;
  background-color: #FDDFDF;
}

button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}


.moloco-animation {
    position: fixed;
    justify-content: center;
    z-index: 3;
}

#animation-mobile {
    display: flex;
    height: 122px;
    width: 100vw;
    bottom: 0;
}

#animation {
    display: none;
}

#header-mobile {
    display: flex;
    width: 100vw;
    margin-top: 1rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#header {
    display: none;
}

.section {
    position: relative;
}

#privacy {
    position: absolute;
    text-align: center;
    width: 100vw;
    left: 0;
    bottom: 135px;
}

@media (min-width:1200px) {

    .background-image {
        z-index: 5;
    }

    #privacy {
        text-align: center;
        width: 100%;
        bottom: 20px;
    }

    #animation-mobile {
        display: none;
    }

    #animation {
        display: flex;
    }

    #header {
        display: flex;
        width: 100%;
        margin-top: 5rem;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        flex-direction: row
    }

    #header-mobile {
        display: none;
    }

    .text-section {
        height: 100vh;
        width: 40vw;
        padding-left: 10vw;
        padding-bottom: 0;
    }

    .moloco-input, form h3 {
        width: 80%;
    }

}

