body {
    margin: 0;
    color: #19486A;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

h3 {
    margin: 0;
}

.text-section {
    height: 100vh;
    width: 40vw;
    padding-left: 12rem;
    display: flex;
    justify-content: center;
    flex-direction: column
}

#animation img {
    position: absolute;
    top: 7000px;
}

img.ball {
    height: 72px;
    margin-bottom: -1px;
}

img.half {
    height: 102px;
    margin-bottom: -1px;
}


#header {
    display: flex;
    width: 100%;
    margin-top: 6rem;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    flex-direction: row
}
